

.main-pane {
    padding: 55px;;
    display: flex;
    flex:6;
    background-color: #fff;
    flex-direction: column;
}



.main-pane-nav{
   height: 120px;
}




.main-pane-bottom{
    display: flex;
    flex:1;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

